/* VARIABLES */
:root {
    --shadow-light: #9F9F9F88;
    --shadow-dark: #26262688;
    --display-bg: #1976D2;
    --action-button-bg: #536DFE;
    --number-button-bg: #BBDEFB;
}

/* CALCULATOR */
#calculator-container {
    width: 20vw;
    min-width: 300px;
    max-height: 80vh;
    aspect-ratio: 3/5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* DISPLAY */
#display {
    background-color: var(--display-bg);
    height: 30%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 8px 8px inset var(--shadow-dark), -8px -8px inset var(--shadow-light);
    padding: 9px;
    text-align: right;
    align-content: center;
    font-size: calc(15px + 2vw);
}

/* BUTTONS */
button {
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px inset var(--shadow-light), -4px -4px inset var(--shadow-dark);
    font-size: calc(15px + 1vw);
}

button:active {
    box-shadow: 4px 4px inset var(--shadow-dark), -4px -4px inset var(--shadow-light);
}

.action-button {
    background-color: var(--action-button-bg);
}

.number-button {
    background-color: var(--number-button-bg);
}

#clear {
    grid-row-start: 2;
    grid-column-start: 4;
}

#evaluate {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
}

/* LAYOUT */
html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 5px;
}

#button-container {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3%;
}