/* VARIABLES */
:root {
    -shadow-light: #9F9F9F88;
    -shadow-dark: #26262688;
    -display-bg: #1976D2;
    -action-button-bg: #536DFE;
    -number-button-bg: #BBDEFB;
}

/* CALCULATOR */

/* DISPLAY */

/* BUTTONS */

/* LAYOUT */